<!DOCTYPE html>
<html>
<head>
<style>

header nav {background-color: rgb(152, 96, 11);  font-size: 3em; }









</style>
</head>
<body>

<style>
table {border: 2px saddlebrown;  border-collapse: collapse ; width: 80%;}


</style>






</body>



</html>